:root {
	--main-color: black;
	--content-accent-color: rgb(255, 136, 0);
	--content-back-color: rgba(255, 255, 255, 0.76); 
	--content-base-color: rgba(213, 241, 241, 0.829);
	--content-main-color: rgb(121, 109, 109);
	--content-shadow: rgba(85, 85, 85, 0.87);
	--main-bg-color: rgb(243, 255, 255);
}


body {
	background-color: var(--main-bg-color);
	color: var(--main-color);
	font-family: 'Noto Serif JP', serif;
	font-size: 0px;
}
.site-header{
	text-align: center;
}
.site-title a{
	text-align: center;
	font-size:64px;
	font-weight: bold;
	color:#1a1a1a;
	text-decoration: none;
}
/* .site-title a:hover{
	color:#007acc;
} */
.site-description{
	font-size:32px;
	color:#686868;
}
.site-icons a{
	margin: 16px;
}

.site-content{
	clear: both;
}

#about p {
    font-size: 16px;
}

.content{
	float: center;
}
.content-heading{
	background-color: var(--content-main-color);
	border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
	box-shadow: 1px 1px 1px 1px var(--content-shadow);
	font-size: 28px;
	color: white;
	text-align: center;
}
/* .item-container{
	background-color: var(--content-back-color);
	border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
	box-shadow: 1px 1px 1px 1px var(--content-shadow);
	padding: 2px;
	margin: 2px;
} */

ul, ol{
	padding: 1px;
}
ul li, ol li {
	background: var(--content-base-color);
	list-style-type: none!important;
}
.item{
	border-left: solid 4px var(--content-accent-color);
	/* border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px; */
	margin: 6px;
	text-align: left;
	font-size: 20px;
	padding: 2px;
}
.item .period{
	font-size: 16px;
	color:#686868;
}
.small-item{
	display: inline-block;
	border-left: solid 4px var(--content-accent-color);
	/* border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px; */
	padding: 4px;
	margin: 4px;
	font-size: 24px;
	/* font-weight:  bold; */
	text-align: center;
}

.tag {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 0.75em;
    text-transform: uppercase; /* 大文字で表示 */
    color: white;
}

.international {
    background-color: #2B593F; /* 国際会議のタグ色 */
}
.domestic {
    background-color: #5A5A5A; /* 国内会議のタグ色 */
}
.reviewed {
    background-color: #28456C; /* Peer-Reviewed のタグ色 */
}
.poster {
	background-color: #5a6800; /* ポスター発表のタグ色 */
}


.pdf-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
}

.pdf-slide {
	/* height: 500px; */
	width: 100%;
	aspect-ratio: 16 / 10;
}
  
footer {
    background-color: var(--content-main-color);
    font-size: 24px;
	color: #fff;
    text-align: center;
}
.content {
	width: 100%;
}
@media screen and (max-width: 767px) {
	.pdf-slide {
		flex-basis: 96%; /* スマホの場合は1列に表示 */
	}
}

@media screen and (min-width: 767px) {
	.pdf-slide {
		flex-basis:48%; /* スマホの場合は1列に表示 */
	}
}

@media screen and (min-width: 1534px) {
	.pdf-slide {
		flex-basis:32%; /* スマホの場合は1列に表示 */
	}
}