:root {
	--main-color: black;
	--content-accent-color: rgb(255, 136, 0);
	--content-back-color: rgba(255, 255, 255, 0.76); 
	--content-base-color: rgba(206, 233, 233, 0.829);
	--content-main-color: rgb(61, 55, 55);
	--content-shadow: rgba(85, 85, 85, 0.87);
	--main-bg-color: rgb(243, 255, 255);
}


body {
	background-color: var(--main-bg-color);
	color: var(--main-color);
	font-family: Roboto,Noto Sans Japanese,Noto Sans CJK JP,源ノ角ゴシック,Source Han Sans,Hiragino Sans,Hiragino Kaku Gothic ProN,游ゴシック,YuGothic,メイリオ,Meiryo,sans-serif;
	font-size: 0px;
}
.site-header{
	text-align: center;
}
.site-title a{
	text-align: center;
	font-family:Georgia;
	font-size:50px;
	font-weight: bold;
	color:#1a1a1a;
	text-decoration: none;
}
/* .site-title a:hover{
	color:#007acc;
} */
.site-description{
	font-size:20px;
	color:#686868;
}
.site-icons a{
	margin: 4px;
}

.site-content{
	clear: both;
}

.content{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content-heading{
	background-color: var(--content-main-color);
	border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
	box-shadow: 1px 1px 1px 1px var(--content-shadow);
	padding: 2px;
	margin: 4px;
	font-size: 24px;
	color: white;
	font-weight:  bold;
	text-align: center;
}
/* .content-container{
	background-color: var(--content-back-color);
	border-radius: 4px 4px 4px 4px / 4px 4px 4px 4px;
	box-shadow: 1px 1px 1px 1px var(--content-shadow);
	padding: 2px;
	margin: 2px;
} */

ul, ol{
	padding: 1px;
}
ul li, ol li {
	border-left: solid 4px var(--content-accent-color);
	background: var(--content-base-color);
	margin: 6px;
	list-style-type: none!important;
}
.item{
	text-align: left;
	font-size: 16px;
	padding: 2px;
}
.item .period{
	font-size: 12px;
	color:#686868;
}


@media screen and (max-width: 1024px) {
	.content {
		width: 100%;
	}
}
@media screen and (min-width: 1024px) {
	.content {
		width: 49.5%;
	}
}