body {
	color: rgba(0, 0, 0, 0.9);
	font-family: Roboto,Noto Sans Japanese,Noto Sans CJK JP,源ノ角ゴシック,Source Han Sans,Hiragino Sans,Hiragino Kaku Gothic ProN,游ゴシック,YuGothic,メイリオ,Meiryo,sans-serif;
	font-size: 20px;
	font-weight:400;
}

.site-header {
	text-align: center;
	font-size: 0;
}

.heading{
	font-size: 40px;
	font-weight: 400;
}

.site-title a{
	text-decoration: none;
	font-family:Georgia;
	font-size:50px;
	font-weight:700;
	color:#1a1a1a;
}

.site-description{
	text-align: center;
	font-size:20px;
	font-weight:400;
	color:#686868;
}

.site-header-menu {
	text-align: center;
}

.site-header-menu div{
	display: inline-block;
	width: auto;
}

.site-header-menu-icon{
	margin: 10px;
	/*filter: drop-shadow(2px 2px 4px gray);*/
}

.content{
	text-align: center;
	padding: 30px;
}

.item{
	height: 40px;
	display: inline-flex;
	align-items: center;
	background-color: #e0e0e0;
	border-radius: 30px;
	padding: 5px;
}

.period-item{
	/*text-align: left;*/
	padding: 5px;
}

.period-item .period{
	color:#686868;
}



.site-title a:hover{
	color:#007acc;
}
